parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of static method App\\Helpers\\Helper\:\:addOwnerRole\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Pages/Auth/Register.php

		-
			message: '#^Cannot access property \$fishery_id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/AdditionalServiceResource/Pages/EditAdditionalService.php

		-
			message: '#^Using nullsafe property access "\?\-\>building_number" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FisheryResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>street" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FisheryResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>town" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FisheryResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>zip_code" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Filament/Resources/FisheryResource.php

		-
			message: '#^Cannot access property \$fishery_id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/LongTermPermitResource/Pages/EditLongTermPermit.php

		-
			message: '#^Method Filament\\Forms\\Components\\Select\:\:disableOptionsWhenSelectedInSiblingRepeaterItems\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Filament/Resources/PositionResource.php

		-
			message: '#^Cannot access property \$fishery_id on Illuminate\\Database\\Eloquent\\Model\|int\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Filament/Resources/PositionResource/Pages/EditPosition.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/StateResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\<Illuminate\\Database\\Eloquent\\Model\>\:\:active\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Filament/Resources/StateResource.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: app/Helpers/Helper.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 4
			path: app/Helpers/Helper.php

		-
			message: '#^Variable \$this in isset\(\) is never defined\.$#'
			identifier: isset.variable
			count: 1
			path: app/Helpers/Helper.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/SocialAuthController.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Http/Controllers/SocialAuthController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Http/Controllers/SocialAuthController.php

		-
			message: '#^Property App\\Models\\User\:\:\$two_factor_code \(string\|null\) does not accept int\<100000, 999999\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Policies/AdditionalServicePolicy.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Policies/LongTermPermitPolicy.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Policies/PositionPolicy.php

		-
			message: '#^Binary operation "\*" between non\-empty\-string and 2\|3\|4\|5\|6\|7 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Services/CSOService.php

		-
			message: '#^Variable \$gusReport in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: app/Services/CSOService.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\Blueprint\:\:dropColumns\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/migrations/2025_07_28_161543_alter_user_table.php
